<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>checkout</title>
  <!-- bootStrapCss -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <!-- vueLoadingCss -->
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6/dist/css/index.css" rel="stylesheet">
  <!-- googleMaterialIcon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- localCss -->
  <link rel="stylesheet" href="../css/main.css">
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <div id="app">
    <loading v-if="isLoading" :active="isLoading" :background-color="'#EBEAE4'" :is-full-page="true" :color="'#52504B'">
    </loading>
    <div v-else class="container bg-main-medi rounded-10em mt-5 mb-5 px-5r py-7r">
      <!-- 大標題 -->
      <div class="d-flex align-items-center justify-content-center mb-3">
        <h2 class="text-center border-bottom border-secondary pb-2 w-25">結帳</h2>
      </div>
      <!-- 詳細內容 -->
      <div class="row">
        <!-- 詳細內容左 -->
        <div class="col">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <!-- 購物車 -->
            <div class="accordion-item">
              <!-- ShoppingCartSection -->
              <h2 class="accordion-header" id="ShoppingCartSection">
                <button class="accordion-button fs-5 fw-semibold text-deep-gray" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ShoppingCartDetails" aria-expanded="true" aria-controls="ShoppingCartDetails">
                  購物車
                </button>
              </h2>
              <!-- ShoppingCartDetails -->
              <div id="ShoppingCartDetails" class="accordion-collapse collapse show"
                aria-labelledby="ShoppingCartSection">
                <div class="accordion-body">
                  <div class="" v-if="cartsData.length === 0">
                    目前購物車內沒有商品
                  </div>
                  <div v-else class="">
                    <div class="row mb-3 position-relative" v-for="item in cartsData" :key="item.id">
                      <loading :active="item.isSmLoading" :is-full-page="false" :color="'#52504B'">
                      </loading>
                      <div class="col-3 d-flex align-items-center">
                        <img :src="item.product.imageUrl" :alt="item.product.title" class="img-fluid">
                      </div>
                      <div class="col-9">
                        <div class="d-flex">
                          <h6>{{item.product.title}}</h6>
                          <button type="button" class="btn-close" aria-label="Close"
                            @click="deleteCart(item.id)"></button>
                        </div>
                        <p>單價NT$ {{ parseInt(item.product.price) }} / 小計NT$ {{ parseInt(item.total) }} <span
                            v-if="item.final_total !== item.total">/ 優惠價NT$ {{ parseInt(item.final_total) }} </span>
                        </p>

                        <quantity-control-btns :inventory="item.product.inventory" :id="item.product_id" :qty="item.qty"
                          :product-cart-id="item.id" @put-num="putCart"></quantity-control-btns>
                      </div>
                    </div>
                    <!-- 清空購物車按鈕 -->
                    <div class="d-flex mb-3" v-if="cartsData.length > 1">
                      <button type="button" class="btn btn-outline-mdgray w-100" @click="deleteCarts">清空購物車</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 訂單確認 -->
            <div class="accordion-item" v-if="cartsData.length !== 0">
              <!-- OrderConfirmationSection -->
              <h2 class="accordion-header" id="OrderConfirmationSection">
                <button class="accordion-button fs-5 fw-semibold collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#OrderConfirmationDetails" aria-expanded="false"
                  aria-controls="OrderConfirmationDetails">
                  訂單確認
                </button>
              </h2>
              <!-- OrderConfirmationDetails -->
              <div id="OrderConfirmationDetails" class="accordion-collapse collapse show"
                aria-labelledby="OrderConfirmationSection">
                <div class="accordion-body">
                  <!-- 商品總金額 -->
                  <div class="d-flex justify-content-between">
                    <p>商品總金額</p>
                    <p>NT$ {{ parseInt(allCartsData.total) }}</p>
                  </div>
                  <!-- 運費 -->
                  <div class="d-flex justify-content-between">
                    <p>運費</p>
                    <p>免運費</p>
                  </div>
                  <div v-if="!allCartsData.useCoupon">
                    <!-- 使用優惠代碼1 -->
                    <div class="d-flex justify-content-between" v-if="!useCoupon">
                      <p>優惠代碼</p>
                      <button type="button" class="btn btn-outline-dpgray" @click="useCoupon = true">使用優惠代碼</button>
                    </div>
                    <!-- 使用優惠代碼2 -->
                    <div class="mb-3" v-else-if="useCoupon">
                      <p class="w-25">優惠代碼</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <input type="text" class="form-control" id="category" placeholder="請填入優惠代碼"
                          v-model="couponCode">
                        <button type="button" class="w-25 btn btn-outline-dpgray ms-3"
                          @click="goToPostCoupon">使用</button>
                        <button type="button" class="w-25 btn btn-outline-dpgray ms-3"
                          @click="useCoupon = false">取消</button>
                      </div>
                    </div>
                  </div>
                  <!-- 使用優惠代碼3 -->
                  <div class="d-flex justify-content-between" v-if="allCartsData.useCoupon">
                    <p>使用優惠券</p>
                    <p>優惠 NT$ {{ parseInt(allCartsData.total) - parseInt(allCartsData.final_total) }}</p>
                  </div>
                  <hr>
                  <!-- 總付款金額 -->
                  <div class="d-flex justify-content-between" v-if="!allCartsData.useCoupon">
                    <p>總付款金額</p>
                    <h4 class="text-end">NT$ {{ parseInt(allCartsData.total) }}</h4>
                  </div>
                  <!-- 總付款金額2 -->
                  <div class="" v-else-if="allCartsData.useCoupon">
                    <div class="d-flex justify-content-between">
                      <p>總付款金額</p>
                      <h5 class="text-decoration-line-through">NT$ {{ parseInt(allCartsData.total) }}</h5>
                    </div>
                    <h4 class="text-end">NT$ {{ parseInt(allCartsData.final_total) }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 詳細內容右 -->
        <div class="col">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <!-- 聯絡我們 -->
            <div class="accordion-item" v-if="cartsData.length === 0">
              <!-- ContactUsSection -->
              <h2 class="accordion-header" id="ContactUsSection">
                <button class="accordion-button collapsed fs-5 fw-semibold" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ContactUsDetails" aria-expanded="false" aria-controls="ContactUsDetails">
                  聯絡我們
                </button>
              </h2>
              <!-- ContactUsDetails -->
              <div id="ContactUsDetails" class="accordion-collapse collapse show" aria-labelledby="ContactUsSection">
                <div class="accordion-body">
                  <!-- 聯絡信箱 -->
                  <div class="d-flex justify-content-between">
                    <p>聯絡信箱</p>
                    <p>glow.2023@gmail.com</p>
                  </div>
                  <!-- 聯絡電話 -->
                  <div class="d-flex justify-content-between">
                    <p>聯絡電話</p>
                    <p>0988000999</p>
                  </div>
                  <!-- 營業時間 -->
                  <div class="d-flex justify-content-between mb-3">
                    <p>營業時間</p>
                    <p>週一至週五 09:00~17:00</p>
                  </div>
                  <!-- 購物保證 -->
                  <div class="row mb-3">
                    <div class="col d-flex flex-column align-items-center">
                      <span class="material-symbols-outlined fs-1 mb-3">
                        local_shipping
                      </span>
                      <span>免費標準配送</span>
                    </div>
                    <div class="col d-flex flex-column align-items-center">
                      <span class="material-symbols-outlined fs-1 mb-3">
                        redeem
                      </span>
                      <span>七日內免費退貨</span>
                    </div>
                    <div class="col d-flex flex-column align-items-center">
                      <span class="material-symbols-outlined fs-1 mb-3">
                        encrypted
                      </span>
                      <span>安全購物</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 收件資料 -->
            <div class="accordion-item" v-if="cartsData.length !== 0">
              <!-- RecipientInformationSection -->
              <h2 class="accordion-header" id="RecipientInformationSection">
                <button class="accordion-button fs-5 fw-semibold" type="button" data-bs-toggle="collapse"
                  data-bs-target="#RecipientInformationDetails" aria-expanded="true"
                  aria-controls="RecipientInformationDetails">
                  收件資料
                </button>
              </h2>
              <!-- RecipientInformationDetails -->
              <div id="RecipientInformationDetails" class="accordion-collapse collapse show"
                aria-labelledby="RecipientInformationSection">
                <div class="accordion-body">
                  <v-form @submit="postOrder(orderData)" v-slot="{ errors }">
                    <!-- 收件人名稱 -->
                    <div class="mb-3">
                      <label for="category" class="form-label">收件人名稱</label>
                      <v-field type="text" name="收件人" class="form-control" :class="{ 'is-invalid': errors['收件人'] }"
                        rules="required|max:15" id="category" placeholder="請填入收件人真實姓名，以確保順利收件"
                        v-model="orderData.data.user.name"></v-field>
                      <error-message class="invalid-feedback" name="收件人"></error-message>
                    </div>
                    <!-- 電子信箱 -->
                    <div class="mb-3">
                      <label for="email" class="form-label">電子信箱</label>
                      <v-field type="email" class="form-control" :class="{ 'is-invalid': errors['電子信箱'] }" id="email"
                        rules="email|required" name="電子信箱" placeholder="請填入訂單通知Email (訂單資訊將以此E-mail通知您)"
                        v-model="orderData.data.user.email"></v-field>
                      <error-message class="invalid-feedback" name="電子信箱"></error-message>
                    </div>
                    <!-- 行動電話號碼 -->
                    <div class="mb-3">
                      <label for="phone" class="form-label">行動電話號碼</label>
                      <v-field type="text" name="行動電話" :rules="isPhone" class="form-control"
                        :class="{ 'is-invalid': errors['行動電話'] }" id="phone" placeholder="請填入收件人行動電話號碼 (供配送人員聯絡)"
                        v-model="orderData.data.user.tel"></v-field>
                      <error-message class="invalid-feedback" name="行動電話"></error-message>
                    </div>
                    <!-- 收件地址 -->
                    <div class="mb-3">
                      <label for="address" class="form-label">收件地址</label>
                      <v-field type="text" name="收件地址" class="form-control" :class="{ 'is-invalid': errors['收件地址'] }"
                        id="address" rules="required|max:50" placeholder="送貨地點目前僅提供：台灣、台灣外島宅配"
                        v-model="orderData.data.user.address"></v-field>
                      <error-message class="invalid-feedback" name="收件地址"></error-message>
                    </div>
                    <!-- 訂單備註 -->
                    <div class="mb-3">
                      <p>訂單備註</p>
                      <v-field as="textarea" name="訂單備註" class="w-100 form-control"
                        :class="{ 'is-invalid': errors['訂單備註'] }" id="orderMessage" name="orderMessage" rows="5"
                        placeholder="管理室代收/電話聯絡時間..." rules="max:800" v-model="orderData.data.message"></v-field>
                      <error-message class="invalid-feedback" name="訂單備註"></error-message>
                    </div>
                    <!-- 注意事項 -->
                    <div class="form-check mb-3">
                      <input type="checkbox" class="form-check-input" id="is_enabled" v-model="checkOrderInfo">
                      <label for="is_enabled" class="form-check-label">
                        <span class="text-main-spec fw-bold">我已確認以下內容：</span>
                        <span><br>提醒您，送出訂單後，將無法修改訂單內容，並前往付款流程，請您確定無誤後再送出😄</span>
                      </label>
                    </div>
                    <!-- 小提醒 -->
                    <div class="bg-medium-gray text-deep-gray px-3 py-2 mb-3">
                      <h6>免運服務</h6>
                      <span>我們的商品付款採用「線上信用卡」付款後出貨，運送採用「宅配到府」免運服務，讓您輕鬆購買、安心收貨。</span>
                    </div>
                    <!-- 結帳按鈕 -->
                    <div class="d-flex mb-3">
                      <button type="submit" class="btn btn-solid-spec w-100 btn-lg"
                        :disabled="!checkOrderInfo">結帳</button>
                    </div>
                  </v-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- VueDemi，使用 Pinia 必要的相依套件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-demi/0.13.11/index.iife.js"></script>
  <script>const I = VueDemi; const vueDemi = VueDemi;</script>
  <!-- Pinia 網頁版，實戰中還是以 npm 為主，這是比較少見的使用方式 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pinia/2.0.28/pinia.iife.js"></script>
  <!-- bootStrapJs -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- vueLoadingJs -->
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.3/dist/index.min.js"></script>
  <!-- veeValidation 相關套件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.12.4/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.12.4/dist/vee-validate-rules.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.12.4/dist/vee-validate-i18n.min.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <!-- 引入本地 checkout.js -->
  <script src="./checkout.js" type="module"></script>
</body>

</html>